a {
    text-decoration: none;
    color: #fff;
}

.text-link {
    color: #2AB9CF;
    font-style: italic;
    border-bottom: 2px solid #2AB9CF;
}

.text-link:hover,
footer a:hover {
    color: #dddddd;
    border-bottom: 2px dashed #dddddd;
}