.explore-section {
    z-index: 100;
}

.explore-section p {
    padding: 3px 25px;
    margin: 0px;
}

.exhibitions-section {
    background-color: rgba(68,68,68,0.85);
    margin: 40px 0px 0px 0px;
    padding: 12px 25px;
}

.exhibitions-section h3 {
    margin: 0px;
    padding: 10px 0px 0px 0px;
}

.exhibitions-section p {
    margin: 0px;
    padding: 0px 0px 40px 0px;
}