@import "imports/links.css";

body {
  font-family: "Merriweather Sans", "Trebuchet MS", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  margin: 0;
  background-color: #000;
  position: relative;
  background: url("../images/background.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.max-width-1500 {
  max-width: 1500px;
}

.margin-auto {
  margin: auto;
}

img {
  width: 100%;
}

h1,
h2,
h3,
nav,
.cta {
  font-family: "Catamaran", "Trebuchet MS", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
}

.body-text {
  font-size: 0.75em;
  line-height: 1.5em;
}

header {
  border-bottom: #dddddd 2px solid;
}

.logo img {
  width: 135px;
  height: auto;
}

.logo-and-hamburger {
  padding: 15px 25px;
}

.logo-and-hamburger,
.heading-and-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-and-cta {
  padding: 10px 25px;
}

.heading-and-cta h1 {
  margin: 8px 0px;
}

.cta {
  border: 2px solid #eb2c32;
  padding: 0px 10px 28px 10px;
  max-height: 12px;
  max-width: 100px;
  text-align: center;
}

.cta__arrow {
  font-size: 1.4em;
}

.cta:hover {
  border: 2px dashed #eb2c32;
  color: #eb2c32;
}

#close,
#close:checked ~ nav {
  display: none;
}

.nav__close-icon {
  position: fixed;
  right: 26px;
  top: 90px;
  font-size: 1.8em;
}

ul {
  margin: 20px 30px;
  padding: 0;
  list-style-type: none;
}

nav {
  display: none;
  position: fixed;
  top: 76px;
  left: 0;
  background-color: #444444;
  z-index: 1000;
  width: 100%;
  font-size: 1.3em;
}
  
.nav__link-1,
.nav__link-2,
.nav__link-3,
.nav__link-4,
.nav__link-5,
.nav__link-6,
.nav__link-7,
.nav__link-8 {
  padding: 5px 0px;
  display: block;
  position: relative;
}

.nav__link-1:before,
.nav__link-2:before,
.nav__link-3:before,
.nav__link-4:before,
.nav__link-5:before,
.nav__link-6:before,
.nav__link-7:before,
.nav__link-8:before {
  content: ">";
  font-size: 1.3em;
  padding: 3px;
  color: rgba(255, 255, 255, 0);
  position: absolute;
  top: -4px;
  transition-property: color;
  transition-duration: 0.3s;
}

.nav__link-1:before {
  left: 57px;
}

.nav__link-2:before {
  left: 72px;
}

.nav__link-3:before {
  left: 104px;
}

.nav__link-4:before {
  left: 42px;
}

.nav__link-5:before {
  left: 177px;
}

.nav__link-6:before {
  left: 52px;
}

.nav__link-7:before {
  left: 115px;
}

.nav__link-8:before {
  left: 73px;
}

.nav__link-1:hover:before,
.nav__link-2:hover:before,
.nav__link-3:hover:before,
.nav__link-4:hover:before,
.nav__link-5:hover:before,
.nav__link-6:hover:before,
.nav__link-7:hover:before,
.nav__link-8:hover:before {
  color: rgba(255, 255, 255, 1);
}

.hamburger-icon {
  font-size: 2em;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.main-image-smaller-screens {
  display: block;
}

.main-image-larger-screens {
  display: none;
}

footer,
.copyright {
  border-top: 2px solid #dddddd;
}

.footer__main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 25px;
  gap: 30px;
}

.footer__heading {
  color:#eb2c32;
  font-weight: 700;
}

footer p {
  font-size: 0.7em;
  padding: 2px 0px;
  margin: 0px;
}

.footer__social-media-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
}

.footer__social-media-heading {
  grid-column: -1/1;
}

.social-media-icon {
  font-size: 1.8em;
}

.copyright {
  font-size: 0.7em;
  font-style: italic;
  color: #dddddd;
  text-align: center;
  padding: 15px;
}